.alert {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1px 32px;
  background-color: white;
  border-radius: $border_radius;
  height: auto;
  text-align: left;
  position: relative;

  &.with-button {
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 75%;
    }

    a {
      margin: 15px 0px;
    }
  }

  button {
    outline: 0;
    border: none;
    background: none;
    background-color: #1e242a;
    color: $color_3;
    font-weight: 500;
    padding: 11px 25px;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: left;
    transition: 0.3s ease;

    &:hover {
      background-color: $color_5;
    }
  }

  button.dismiss {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 25px;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    cursor: pointer;

    svg {
      margin: 0;
      padding: 0;
      color: $color_2;
    }
  }

  i,
  svg {
    font-size: 2.5rem;
    color: $primary;
  }

  &.warning {
    i,
    svg {
      color: $warning_red;
    }
  }

  p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #181d22;
    margin-right: 15px;
  }
}
