section.page .alert,
.alert {
  font-family: "Lato";
  font-weight: 400;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  border-radius: var(--border-radius);
  height: auto;
  text-align: left;
  position: relative;
  animation: pageEnter 0.45s ease;

  &.critical {
    background-color: var(--warning-red);
    color: white;

    svg {
      color: #1e242a;
    }
  }

  &.with-button {
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 75%;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: 400;
    }

    a {
      margin: 15px 0px;
    }
  }

  button {
    outline: 0;
    border: none;
    background: none;
    background-color: #1e242a;
    color: var(--color-3);
    font-weight: 500;
    padding: 11px 25px;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: left;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--color-5);
    }
  }

  button.dismiss {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 25px;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    cursor: pointer;

    svg {
      margin: 0;
      padding: 0;
      color: var(--color-2);
    }
  }

  i,
  svg {
    font-size: 2.5rem;
    color: var(--primary);
  }

  &.warning {
    i,
    svg {
      color: var(--warning-red);
    }
  }

  p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #181d22;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .alert {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 520px) {
  .alert.with-button p {
    width: 100%;
    flex-wrap: wrap;

    svg {
      margin-bottom: 10px;
    }
  }

  .alert button {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
