.chart {
  width: 100%;
  margin-top: 25px;
  height: auto;
  background: var(--container);
  transition: opacity 0.3s ease;
  animation: pageEnter 0.5s ease;
  animation-fill-mode: forwards;
  border-radius: 8px;

  .box-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    margin-bottom: 15px;
    gap: 50px;

    p {
      font-size: 2rem;
      font-weight: 500;
      width: 200px;
    }

    button {
      background-color: transparent;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:not(:disabled):hover {
        svg {
          color: var(--primary);
        }
      }

      svg {
        color: var(--color-3);
        font-size: 3rem;
        margin: unset;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .responsive-chart {
    height: 750px !important;
    min-height: unset !important;

    .cell.animate {
      animation: fade 0.5s linear;
      animation-fill-mode: forwards;

      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  h2 {
    font-size: 3rem;
  }

  .recharts-layer.recharts-cartesian-axis-tick {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .recharts-responsive-container {
    background: var(--container);
    padding: 20px;
    min-height: 700px;
    border-radius: 8px;
  }

  .chart-tooltip {
    width: auto;
    background-color: #fff;
    display: flex;
    color: var(--container);
    font-size: 2rem;
    flex-direction: column;
    font-weight: 500;
    padding: 12px 20px;
    text-align: left;

    p.title {
      font-size: 2.2rem;
      font-weight: 600;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .chart .responsive-chart #x-axis--resize {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .chart .responsive-chart {
    height: 450px !important;
  }

  .chart .responsive-chart #x-axis--resize {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .recharts-layer.recharts-cartesian-axis-tick text {
    font-size: 1.3rem;
  }

  .chart .responsive-chart #x-axis--resize,
  .recharts-layer.recharts-cartesian-axis-tick #x-axis {
    font-size: 1rem;
  }

  .recharts-layer.recharts-reference-line {
    line {
      stroke: var(--primary);
    }

    text {
      display: none;
    }
  }
}

@media only screen and (max-width: 300px) {
  .chart .responsive-chart #x-axis--resize,
  .recharts-layer.recharts-cartesian-axis-tick #x-axis,
  .recharts-layer.recharts-cartesian-axis-tick text {
    font-size: 0.7rem;
  }
}
