@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chart {
  width: 100%;
  margin-top: 25px;
  height: auto;
  background: #181d22;
  transition: 0.3s ease;
  animation: pageEnter 0.5s ease;
  border-radius: 8px;

  .box-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    margin-bottom: 15px;
    gap: 50px;

    p {
      font-size: 2rem;
      font-weight: 500;
      width: 200px;
    }

    button {
      background-color: transparent;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:not(:disabled):hover {
        svg {
          color: $primary;
        }
      }

      svg {
        color: $color_3;
        font-size: 3rem;
        margin: unset;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .responsive-chart {
    height: 650px !important;
    min-height: unset !important;
  }

  h2 {
    font-size: 3rem;
  }

  .recharts-responsive-container {
    background: #181d22;
    padding: 20px;
    min-height: 700px;
    border-radius: 8px;
  }

  .recharts-layer.recharts-bar-rectangle {
    animation: fadeIn 0.5s ease;
  }

  .chart-tooltip {
    width: auto;
    background-color: #fff;
    display: flex;
    color: #181d22;
    font-size: 2rem;
    flex-direction: column;
    font-weight: 500;
    padding: 12px 20px;
    text-align: left;

    p.title {
      font-size: 2.2rem;
      font-weight: 600;
      margin-top: 5px;
    }
  }
}
