.colors {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;

  .color-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 3px;
  }

  h3 {
    margin-bottom: 15px;
    padding: unset;
  }

  p {
    color: var(--color-6);
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    margin: unset;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .color-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .color {
      display: flex;
      width: 41px;
      height: 41px;
      margin: unset;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      border-radius: 3px;
    }

    p {
      font-size: 1.9rem;
      color: var(--color-6);
      margin: unset;
    }
  }
}
