footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 55px;

  .footer-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 40px;
  }

  .dev a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary);

    svg {
      margin-bottom: 15px;
      width: 40px;
      height: 40px;
    }

    &:hover {
      color: var(--color-5);
      svg {
        fill: var(--color-5);
      }
    }
  }

  svg {
    margin-right: unset;
    width: 32px;
    height: 32px;
    fill: var(--primary);
  }

  .github {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-6);

    a {
      color: var(--primary);
      text-decoration: underline;

      &:hover {
        color: var(--color-5);
      }
    }
  }
}
