footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  flex-direction: column;
  margin-top: 150px;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-3);
  animation: pageEnter 0.5s ease;
  background-color: var(--container);
  padding: 25px 32px;
  border-radius: var(--border-radius);

  .logos {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 100%;
    gap: 20px;

    a {
      display: flex;
      justify-content: end;
      align-items: start;
      color: var(--color-5);
      flex-direction: column;
      font-size: 1.4rem;
      font-weight: 500;

      &.github {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 0.9;
        color: var(--color-5);

        svg {
          margin-top: unset;
          margin-right: 10px;
        }
      }

      svg {
        margin-top: 5px;
        height: 28px;
        fill: var(--color-5);
      }

      &:hover {
        color: var(--primary);

        svg {
          fill: var(--primary);
        }
      }
    }
  }

  .logo-wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;

    p {
      color: var(--color-3);
      font-size: 1.5rem;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      margin: 0;
      font-size: 2.6rem;
      margin: 0;
      font-weight: 600;
      color: var(--color-3);
    }

    svg {
      width: 42px;
      height: 42px;
      margin-right: 12px;
      fill: var(--color-3);
    }
  }

  .footer-row {
    &.copyright {
      margin-top: 15px;
      font-size: 1.6rem;
      color: var(--primary);
      font-weight: 600;
    }
  }

  .col-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5px;

    &.header {
      margin-top: unset;
    }

    .col {
      width: 30%;

      p {
        font-weight: 600;
        font-size: 2.1rem;
        color: var(--color-3);
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 5px;

        li {
          color: var(--color-6);
          margin-bottom: 2px;
          font-weight: 400;
          font-size: 1.4rem;

          a {
            color: var(--color-6);

            &:hover {
              color: var(--primary);
            }
          }

          .number {
            font-weight: bold;
            margin-right: 3px;

            &.no-b {
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  footer .logos {
    flex-direction: column;
    align-items: start;
  }

  footer .logos a.github {
    line-height: 1;
  }
}

@media (max-width: 900px) {
  footer .logos a svg {
    height: 24px;
  }
  footer .col-row {
    flex-wrap: wrap;
  }

  footer .col-row .col {
    width: 100%;
  }
}

@media (max-width: 600px) {
  footer .logo-wrap {
    width: 100%;
  }

  footer .logos {
    flex-direction: row;
    align-items: end;
    justify-content: start;
  }

  footer .logos {
    margin-bottom: 15px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  footer .logos {
    flex-direction: column;
    align-items: start;
  }
}
