header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  height: 100px;

  .mobile-nav {
    display: none;
    background-color: transparent;
    color: $primary;
    font-size: 3rem;
    padding: unset;

    &:hover {
      color: $color_3;
      background-color: unset;
    }
  }

  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    color: $color_3;

    .logo {
      width: 42px;
      height: 42px;
      margin-right: 15px;
    }

    span {
      font-size: 3rem;
      margin: 0;
      font-weight: 600;
      padding-left: 15px;
      border-left: 2px solid $color_2;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70%;
    padding: 0;
    margin: 0;
    gap: 60px;

    svg {
      margin-right: 10px;
    }

    li {
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.2s ease;

      a {
        color: $color_3;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  button {
    padding: 12px 25px;
    background-color: $primary;
    color: #181d22;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg,
    i {
      margin: unset;
    }

    &:hover {
      background-color: darken($primary, 5%);
    }
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1450px) {
  header {
    ul {
      width: 75%;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 1149px) {
  header {
    ul {
      width: 100%;
      justify-content: start;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 635px) {
  header {
    ul {
      margin-top: 25px;
      gap: unset;
      justify-content: space-between;

      li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  header {
    height: auto;

    .mobile-nav {
      display: flex;
    }

    ul {
      flex-direction: column;
      gap: 15px;
      display: flex;

      &.hidden {
        display: none;
      }

      li {
        width: 100%;

        a {
          width: 100%;
          flex-direction: row;
          display: flex;
          justify-content: start;
          padding: 0px 15px;
          align-items: center;
          height: 45px;
          background-color: #181d22;
          border-radius: $border-radius;

          svg {
            margin-right: 10px;
            margin-bottom: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 270px) {
  header .logo-wrap .logo {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  header .logo-wrap span {
    padding-left: 10px;
  }
}
