@import "../_variables";

section.page.about {
  h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: $primary;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}
