@import "../_variables";

section.api-docs {
  a {
    color: var(--primary);

    &:hover {
      color: var(--color-3);
    }
  }

  ul li {
    margin-bottom: 3px;
  }

  .event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    border: 1px solid #555c62;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: var(--border-radius);

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 1.75rem;
      font-weight: 300;

      th {
        border-bottom: 1px solid #555c62;
        color: var(--color-3);
        padding: 15px 10px;
        text-align: left;
        font-weight: bold;
      }

      td {
        padding: 15px 10px;
        border-bottom: 1px solid #555c62;
      }
    }

    .button.example {
      margin-top: 15px;
      background-color: var(--primary);
      padding: 12px 18px;
      border-radius: var(--border-radius);
      color: var(--container);
      font-size: 2rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-3);
      }

      svg {
        margin-right: 10px;
      }
    }

    pre {
      font-size: 1.75rem;
      width: 100%;
      background-color: var(--container);
      padding: 25px 20px;
      border-radius: var(--border-radius);
      margin-top: 5px;
      line-height: 1.15;
      white-space: pre;
      word-break: keep-all;

      code.type {
        color: var(--primary);
        font-weight: bold;
      }
    }

    p.info {
      font-size: 1.75rem;
      color: var(--color-3);
      margin-top: 15px;

      span:not(.number) {
        display: block;
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: 2.25rem;
        color: var(--color-3);
        font-weight: bold;
      }
    }
  }

  ul {
    font-size: 1.75rem;
    color: var(--color-3);
    margin-top: 15px;
    margin-top: 15px;
    padding-left: 25px;
    font-weight: 400;
  }

  pre {
    outline: 1px solid #555c62;
    padding: 5px;

    &.inner {
      margin: 0;
      margin-top: 15px;
    }
  }
  .string {
    color: #f6db63;
  }
  .jsonnumber {
    color: #52b7e5;
  }
  .boolean {
    color: #52b7e5;
  }
  .comment {
    color: #5f6e6b;
  }
  .semicolon {
    color: #869797;
  }

  .keyword {
    color: #ff79c6;

    &.fetchMarketData {
      color: #95d773;
    }
  }

  .operator {
    color: #f92672;
  }

  .bracket {
    color: #95d773;
  }

  .null {
    color: #ffb86c;
  }
  .key {
    color: #f92672;
  }
}

@media only screen and (max-width: 500px) {
  section.api-docs {
    pre.inner {
      font-size: 1.5rem;
    }
    pre {
      overflow-x: auto;
    }
    .event {
      table {
        thead {
          display: none;
        }

        tbody {
          display: flex;
          flex-direction: column;

          tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            td {
              display: flex;
              justify-content: space-between;
              text-align: right;
              padding: 7px 10px;
            }

            td:before {
              content: attr(data-label);
              font-weight: bold;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  section.api-docs .event table {
    font-size: 1.1rem;
  }
}
