@import "../_variables";

section.page.notifications {
  h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--primary);
  }

  .lead {
    margin-top: 5px;
    margin-bottom: 35px;
  }

  span strong {
    font-weight: 600;
  }

  span.red-notice {
    color: var(--warning-red);
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.6rem;

    svg {
      margin-right: 5px;
    }
  }

  button {
    outline: 0;
    border: none;
    background: none;
    background-color: var(--primary);
    color: #1e242a;
    font-weight: 500;
    padding: 11px 25px;
    border-radius: var(--border-radius);
    font-size: 1.6rem;
    cursor: pointer;
    text-align: left;
    transition: 0.3s ease;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &.green {
      background-color: var(--green);

      &:hover {
        background-color: lighten(#4a9b69, 10%);
      }
    }

    &:hover {
      background-color: var(--primary2);
    }
  }

  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-bottom: 25px;

    &.fixed-height {
      height: 450px;

      .loader {
        margin-top: 25px;

        svg {
          font-size: 5rem;
        }
      }
    }

    .btn-row {
      display: flex;
      gap: 25px;
    }

    &.red {
      h2 {
        color: var(--red);
      }
    }

    p.details {
      margin-top: 5px;

      ul {
        padding: 0 15px;
      }
    }

    h2 {
      color: var(--color-3);
      font-size: 2.5rem;
      font-weight: 600;
    }

    label {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 10px;
      margin-top: 25px;

      &.wider {
        width: 40%;
        min-width: 300px;
      }
    }

    button {
      margin-top: 25px;

      &.red {
        background-color: var(--warning-red);

        &:hover {
          background-color: var(--red);
        }
      }
    }

    select,
    input {
      width: 100%;
      margin-top: 10px;
      background-color: var(--background);
      padding: 12px 20px;
      outline: none;
      font-size: 1.6rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--primary);
      color: var(--primary);

      &:disabled {
        background-color: var(--background);
        border: 1px solid var(--color-5);
        color: var(--color-5);
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  section.page.notifications .box label.wider {
    min-width: 100%;
  }

  section.page.notifications .box .btn-row {
    flex-direction: column;
    gap: unset;
  }
}
