@import "../_variables";

section.page.scenes {
  h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: $primary;
  }

  p.lead {
    margin-bottom: unset;
  }

  span strong {
    font-weight: 800;
  }
}
