$red: #ff5050;
$color_2: #3d5560;
$color_3: #f8fafb;
$primary: #ff9073;
$color_5: #808080;
$color_6: #ccc;
$color_7: #61ff50;
$color_8: #989898;
$background-red: #f8fafb;
$background-color_2: #2d333b;
$background-color_3: #ffffff;
$background-primary: #ff9073;
$warning_red: #ef5555;
