/***********************
* Lato
***********************/
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-thin-webfont.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-light-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-bold-webfont.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-black-webfont.woff2") format("woff2");
  font-weight: 900;
}

/***********************
* Raleway
***********************/
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
}
