/***********************
* Raleway
***********************/
@font-face {
  font-family: "Raleway";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Thin.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-ExtraLight.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Light.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Regular.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Medium.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-SemiBold.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Bold.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-ExtraBold.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: Local("Raleway"),
    url("/fonts/raleway/Raleway-Black.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

/***********************
* Lato
***********************/
@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: local("Lato"), url("/fonts/lato/lato-thin-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Lato"),
    url("/fonts/lato/lato-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Lato"),
    url("/fonts/lato/lato-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Lato"), url("/fonts/lato/lato-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Lato"),
    url("/fonts/lato/lato-black-webfont.woff2") format("woff2");
}
