header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  height: 100px;

  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    color: $color_3;

    .logo {
      width: 42px;
      height: 42px;
      margin-right: 15px;
    }

    span {
      font-size: 3rem;
      margin: 0;
      font-weight: 600;
      padding-left: 15px;
      border-left: 2px solid $color_2;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    padding: 0;
    margin: 0;
    gap: 60px;

    svg {
      margin-right: 10px;
    }

    li {
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.2s ease;

      a {
        color: $color_3;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  button {
    padding: 12px 25px;
    background-color: $primary;
    color: #181d22;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg,
    i {
      margin: unset;
    }

    &:hover {
      background-color: darken($primary, 5%);
    }
  }
}
