@import "fonts.scss";
@import "_variables";
@import "./elements/Header.scss";
@import "./elements/Footer.scss";

* {
  box-sizing: border-box;
  text-decoration: none;
  &:after {
    box-sizing: border-box;
    text-decoration: none;
  }

  &:before {
    box-sizing: border-box;
    text-decoration: none;
  }
}

html,
body {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
  letter-spacing: 0px;
  text-align: center;
  background: var(--background);
  color: var(--color-3);

  &.light {
    color: #1e242a;

    footer .footer-content .col ul li a,
    footer .footer-content .col ul li {
      color: var(--color-3);
    }

    header .mobile-nav {
      color: #1e242a;
    }

    footer .footer-content,
    .row .box,
    .colors span,
    .col-row.info,
    section.chart,
    section.box,
    .col-row.header .single-box {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    }

    .chart .chart-tooltip {
      color: #1e242a;
    }

    section.api-docs .event {
      border-color: #ccc;
      background: #ffffff29;
    }

    section.api-docs pre {
      outline-color: #ccc;
    }

    section.api-docs .string {
      color: #1e242a;
    }
  }
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

svg {
  margin-right: 15px;
}

span.number {
  font-family: "Lato", sans-serif;
}

p.error-notice {
  font-size: 2rem;
  text-align: left;
  padding: 0px 32px;
  font-weight: 400;
  color: var(--warning-red);
}

section.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  margin-top: 10px;

  p {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 15px;

    &.lead {
      font-size: 1.9rem;
      color: var(--color-6);
      margin-bottom: 50px;
      font-weight: 400;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    &.loading {
      min-height: 50vh;
      margin-bottom: 200px;

      svg {
        opacity: 0.3;
      }

      p.loading-text {
        margin-top: 45px;
        font-size: 2rem;
        font-weight: 500;
        opacity: 0.3;
      }
    }
  }

  .box {
    width: 100%;
    background-color: var(--container);
    margin-top: 25px;
    padding: 6px 32px;
    padding-bottom: 45px;
    border-radius: 8px;
    text-align: left;
    transition: opacity 0.3s ease;
    animation: pageEnter 0.5s ease;

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  h1.title {
    font-size: 3.5rem;
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 800;
    text-align: left;

    &.with-label {
      display: flex;
      justify-content: center;
      align-items: center;

      &.red {
        label {
          background-color: var(--warning-red);
        }
      }

      label {
        margin-left: 15px;
        font-size: 1.6rem;
        color: #1e242a;
        font-weight: bold;
        padding: 5px 10px;
        background-color: var(--primary);
        border-radius: 8px;
      }
    }
  }

  p.description {
    width: 100%;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0px;
    color: var(--color-6);

    font-size: 1.9rem;
    letter-spacing: 0.2px;
  }

  div.lead,
  p.lead {
    color: var(--color-6);
    margin-bottom: 50px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    line-height: 1.25;
    font-size: 1.9rem;
    letter-spacing: 0.2px;
  }
}

@media only screen and (min-width: 2000px) {
  html,
  body {
    font-size: 72%;
  }
  header .logo-wrap .logo {
    width: 54px;
    height: 54px;
  }
}

@media only screen and (max-width: 1700px) {
  .wrap .container {
    width: 85%;
  }
}

@media only screen and (max-width: 850px) {
  html,
  body {
    font-size: 58%;
  }
}

@media only screen and (max-width: 700px) {
  html,
  body {
    font-size: 52%;
  }
}

@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 47%;
  }

  .wrap .container {
    width: 85%;
  }

  .chart .recharts-responsive-container {
    padding: 5px;
  }

  .chart .box-row {
    gap: 0px;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 45%;
  }
}
