@import "_variables";

.page.not-found {
  button {
    margin-top: 25px;
    outline: 0;
    border: none;
    background: none;
    background-color: $primary;
    color: #1e242a;
    font-weight: 500;
    padding: 11px 25px;
    border-radius: 12px;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: left;
    transition: 0.3s ease;

    &:hover {
      background-color: $color_5;
    }
  }
}
