@import "_variables";

@keyframes pageEnter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pageEnterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.colors {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;

  .color-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: $primary;
  }

  p {
    color: white;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    margin: unset;
    font-weight: 400;
  }

  .color {
    display: flex;
    width: 45px;
    height: 45px;
    margin: unset;
    justify-content: center;
    align-items: center;
  }
}

.wrap .container .row .box {
  width: 100%;
  background-color: #181d22;
  margin-top: 25px;
  padding: 6px 32px;
  padding-bottom: 45px;
  border-radius: 12px;
  text-align: left;
  transition: 0.3s ease;
  animation: pageEnter 0.5s ease;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
    h2.main {
      font-size: 1.6rem;
      margin-top: 5px;
      font-weight: 500;
      width: 100%;
      text-align: left;
    }

    .alert {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1px 32px;
      background-color: white;
      border-radius: 12px;
      height: auto;
      text-align: left;
      position: relative;

      &.with-button {
        justify-content: space-between;
        flex-wrap: wrap;

        p {
          display: flex;
          justify-content: start;
          align-items: center;
          width: 75%;
        }

        a {
          margin: 15px 0px;
        }
      }

      button {
        outline: 0;
        border: none;
        background: none;
        background-color: #1e242a;
        color: $color_3;
        font-weight: 500;
        padding: 11px 25px;
        border-radius: 12px;
        font-size: 1.6rem;
        cursor: pointer;
        text-align: left;
        transition: 0.3s ease;

        &:hover {
          background-color: $color_5;
        }
      }

      button.dismiss {
        outline: none;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 25px;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        cursor: pointer;

        svg {
          margin: 0;
          padding: 0;
          color: $color_2;
        }
      }

      i,
      svg {
        font-size: 2.5rem;
        color: $primary;
      }

      &.warning {
        i,
        svg {
          color: $warning_red;
        }
      }

      p {
        font-size: 1.7rem;
        font-weight: 600;
        color: #181d22;
        margin-right: 15px;
      }
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h1.title {
        font-size: 3rem;
        margin-bottom: 15px;
        margin-top: 50px;

        &.with-label {
          display: flex;
          justify-content: center;
          align-items: center;

          label {
            margin-left: 15px;
            font-size: 1.6rem;
            color: #1e242a;
            font-weight: bold;
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 12px;
          }
        }
      }

      p.title2 {
        width: 100%;
        text-align: left;
        font-size: 2rem;
        font-weight: 400;
        margin-top: 15px;
        color: $color_5;
      }

      p.description {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 0px;
        color: $color_5;
      }

      p.lead {
        font-size: 1.8rem;
        color: $color_5;
        margin-bottom: 50px;
        font-weight: 400;
        width: 100%;
        text-align: left;
      }

      h1.title2 {
        font-size: 3.5rem;
        margin-bottom: 15px;

        &.with-label {
          display: flex;
          justify-content: center;
          align-items: center;

          label {
            margin-left: 15px;
            font-size: 1.9rem;
            color: #1e242a;
            font-weight: bold;
            padding: 5px 10px;
            background-color: $primary;
            border-radius: 12px;
          }
        }
      }

      h3 {
        width: 100%;
        font-size: 2.2rem;
        font-weight: 500;
        color: #808080;
        text-align: left;
        margin-bottom: 0px;
        padding: 17px 32px;
        margin-top: 10px;
      }

      .col-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 25px;

        &.fill {
          gap: 30px;
          .col {
            width: 100%;
          }
        }

        &.header {
          flex-wrap: wrap;
        }

        &.icons {
          width: 100%;
          flex-wrap: wrap;
          h3 {
            width: 100%;
            text-align: left;
            margin-bottom: 5px;
          }

          p {
            width: 100%;
            text-align: left;
            margin-bottom: 25px;
          }
        }
      }

      .single-box {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: left;
        padding: 6px 32px;
        background-color: #181d22;
        border-radius: 12px;
        width: 49%;
        min-height: 150px;
        transition: 0.3s ease;
        animation: pageEnter 0.5s ease;

        p.title {
          font-size: 1.8rem;
          font-weight: 400;
          border-bottom: 1px solid #636060;
          padding-right: 15px;
          margin-bottom: 15px;
          margin-top: 0px;
          white-space: nowrap;
        }

        p.text {
          font-size: 1.5rem;
          font-weight: 400;
          border-bottom: 1px solid #636060;
          margin-bottom: 10px;
          margin-top: 0px;
        }

        span {
          font-size: 3rem;
          display: inline-flex;
          align-items: baseline;
          font-weight: bold;
          color: $color_7;

          &.time {
            font-size: 2.6rem;
            color: $primary;
          }

          p {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
            margin-left: 10px;
            color: $color_6;
          }
        }
      }

      .col {
        background-color: #181d22;
        width: 49%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        border-radius: 12px;
        padding-bottom: 45px;
        transition: 0.3s ease;
        animation: pageEnter 0.5s ease;

        &.header {
          background-color: unset;
          padding: 0;
          margin-top: 0;
          justify-content: space-between;

          &.fill {
            width: 100%;
            flex-wrap: nowrap;
            gap: 30px;
          }
        }

        &.small {
          width: 15%;
          height: 243px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0px;
          flex-wrap: wrap;

          h3 {
            text-align: center;
            padding: unset;
            margin: unset;
            font-size: 1.5rem;
            color: $color_5;
            width: 75%;
          }

          span.number {
            font-size: 2.2rem;
            width: 100%;
            font-weight: 600;
          }

          svg {
            font-size: 3.5rem;
            color: $primary;
            width: 100%;
            margin: unset;
          }
        }

        .info {
          width: 100%;
          background-color: $background-primary;
          padding: 2px 0px;
          margin-top: 45px;
          text-align: left;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 65px;
          border-radius: 0 0 12px 12px;
          opacity: 0.8;

          p {
            width: 95%;
            font-size: 1.8rem;
            font-weight: 500;
            color: $color_2;
          }
        }

        .box {
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;
          text-align: left;
          padding: 6px 32px;
          width: 32%;
          min-height: 140px;
          margin-top: 20px;

          p.title {
            font-size: 1.8rem;
            font-weight: 400;
            border-bottom: 1px solid #636060;
            padding-right: 15px;
            margin-bottom: 15px;
            margin-top: 0px;
            white-space: nowrap;

            svg {
              font-size: 1.7rem;
              color: $color_6;
            }
          }
          span {
            font-size: 2.9rem;
            display: inline-flex;
            align-items: baseline;
            font-weight: bold;
            color: $color_7;

            &.percent {
              font-size: 1.4rem;
              font-weight: 400;
              margin-top: 5px;
              color: #808080;
            }

            p {
              font-size: 1.5rem;
              font-weight: 400;
              margin: 0;
              margin-left: 10px;
              color: $color_6;
            }
          }
          span.time {
            font-size: 1.4rem;
            font-weight: 400;
            margin-top: 5px;
            color: $color_5;
          }
        }
        .box.full {
          width: 100%;
          display: flex;
          justify-content: start;
        }
      }
      .col.full {
        .box {
          p.log {
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0;
            color: $color_6;
            margin-bottom: 15px;
          }
          p.log.soon {
            margin-bottom: 35px;
          }
          span {
            font-size: 2.1rem;
            color: $primary;
            min-width: 117px;
            width: 100%;
          }
        }
      }

      .col.full {
        width: 100%;
        h3 {
          margin-bottom: 25px;
        }
        .box {
          width: 100%;
          display: flex;
          justify-content: start;
        }
      }
    }
    .row.center {
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      &.loading {
        min-height: 50vh;
        margin-bottom: 200px;

        p.loading-text {
          margin-top: 45px;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}
.wrap .container .row .chart h3 {
  margin-bottom: 5px;
}

.chart {
  width: 100%;
  margin-top: 50px;
  height: auto;
  background: #181d22;
  transition: 0.3s ease;
  animation: pageEnter 0.5s ease;

  .recharts-responsive-container {
    background: #181d22;
    padding: 20px;
    min-height: 700px;
  }

  .recharts-layer.recharts-bar-rectangle {
    animation: fadeIn 0.5s ease;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .chart-tooltip {
    width: auto;
    background-color: $background-color_3;
    display: flex;
    color: black;
    font-size: 2rem;
    flex-direction: column;
    font-weight: 500;
    padding: 12px 20px;
    text-align: left;

    p.title {
      font-size: 2.2rem;
      font-weight: 600;
      margin-top: 5px;
    }
  }
}

svg {
  margin-right: 15px;
}

@media only screen and (min-width: 2000px) {
  .wrap .container {
    width: 70%;
  }
}
@media only screen and (max-width: 1600px) {
  .wrap .container {
    width: 90%;
  }
}
@media only screen and (max-width: 1400px) {
  .wrap .container .col-row:not(.fill) .row .col .box {
    width: 50%;
  }
  .wrap .container .row .single-box {
    min-height: 115px;
  }
  .wrap .container .row .col .box {
    min-height: 110px;
  }
}

@media only screen and (max-width: 930px) {
  .wrap .container .row .single-box span.time {
    font-size: 2.4rem;
  }
  .wrap .container .row .col .box,
  .wrap .container .row .single-box {
    min-height: 100px;
  }
  .wrap .container .row .col.header.fill {
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 800px) {
  .wrap .container .row .single-box {
    width: 100%;
    margin-bottom: 15px;
  }
  .wrap .container .row .col-row {
    margin-top: 5px;
  }
  .wrap .container .row .col .box {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .wrap .container {
    padding-top: 25px;
  }

  .wrap .container .row .col {
    width: 100%;
    margin-bottom: 15px;
  }
  .wrap .container .row .col-row {
    flex-direction: column;
  }
  .colors .color {
    width: 35px;
    height: 35px;
  }
}
